body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  font-family: Noto Sans Thai;
}

nav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-right: 2vw;
  background-color: white;
}
nav .sassLogo {
  margin-left: 0;
  margin-top: 0;
}
nav .navbarLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .navbarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
nav .theGameFactoryTitle {
  max-width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 2vw;
  font-family: Noto Sans Thai;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 400px;
  vertical-align: middle;
}
nav .theGameFactoryTitle a {
  text-decoration: none;
  color: black;
}
nav .gamesLink {
  max-width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 4vw;
  text-align: center;
  font-family: Noto Sans Thai;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  align-content: center;
  vertical-align: middle;
}
nav .gamesLink a {
  color: black;
}
nav .teamLink {
  max-width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 1vw;
  text-align: center;
  font-family: Noto Sans Thai;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  align-content: center;
  vertical-align: middle;
}
nav .teamLink a {
  color: black;
}
nav .aboutLink {
  max-width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 1vw;
  text-align: center;
  font-family: Noto Sans Thai;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  align-content: center;
  vertical-align: middle;
}
nav .aboutLink a {
  color: black;
}
nav .buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
nav .buttonBox .contactButton {
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-family: Noto Sans Thai;
  font-size: 18px;
  width: 100px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 500px;
  background-color: #F3F3F3;
}
.banner .bannerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.banner .bannerLeft .bannerTitle {
  height: 100px;
  max-width: 400px;
  text-align: left;
  font-size: 30px;
}
.banner .bannerLeft .bannerText {
  height: 100px;
  max-width: 400px;
  text-align: left;
  font-size: 18px;
}
.banner .bannerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner .bannerButtonbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -moz-column-gap: 11px;
       column-gap: 11px;
  width: 100%;
}
.banner .bannerButtonbox .bannerButton {
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-family: Noto Sans Thai;
  font-size: 18px;
  width: 157px;
}

.featuredGamesContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  font-family: Noto Sans Thai;
}
.featuredGamesContainer h3 {
  font-size: 32px;
}
.featuredGamesContainer .featuredGamesIntroduction {
  font-size: 18px;
}
.featuredGamesContainer .cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.featuredGamesContainer .cardContainer .card {
  max-width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.05);
}
.featuredGamesContainer .cardContainer .card .bottomCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.featuredGamesContainer .cardContainer .card .bottomCard .gameTextContainer {
  max-width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.featuredGamesContainer .cardContainer .card .bottomCard .gameTextContainer h4 {
  font-size: 18px;
}
.featuredGamesContainer .cardContainer .card .bottomCard .gameTextContainer p {
  font-size: 11px;
}
.featuredGamesContainer .cardContainer .card .bottomCard .playButton {
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-family: Noto Sans Thai;
  font-size: 18px;
  width: 157px;
}
.featuredGamesContainer .cardContainer .card .gameCover {
  border-radius: 5px 5px 0 0;
}

.teamContainer {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  font-family: Noto Sans Thai;
}
.teamContainer .cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.teamContainer .cardContainer .staffCard {
  width: 200px;
  height: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.05);
}
.teamContainer .cardContainer .staffCard .staffPicture {
  border-radius: 50px;
}
.teamContainer .cardContainer .staffCard .teamTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.teamContainer .cardContainer .staffCard .teamTextContainer .staffName {
  font-size: 16px;
}
.teamContainer .cardContainer .staffCard .teamTextContainer .staffRole {
  font-size: 14px;
}
.teamContainer .cardContainer .staffCard .teamTextContainer .staffDesc {
  font-size: 10px;
}
.teamContainer .cardContainer .staffCard .skillContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 8px;
  width: 100%;
  height: 45px;
}
.teamContainer .cardContainer .staffCard .skillContainer .skill {
  width: 73px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
}
.teamContainer .cardContainer .staffCard .IconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}/*# sourceMappingURL=style.css.map */